
<%= form_with model: employee do |form| %>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </div>

<div>
    <%= form.label :last_name %><br>
  <%= form.text_field :last_name %>
</div>
  <div>
    <%= form.label :email %><br>
<%= form.email_field :email %>
</div>
  <div>
    <%= form.label :password %><br>
<%= form.password_field :password %>
</div>
  <div>
    <%= form.label :confirm_password %><br>
 <%= form.text_field :confirm_password %>
    </div>
      <div>
    <%= form.label :country %><br>
  <%= form.text_field :country %>
   
 </div>
  


  <div>
    <%= form.submit %>
    <%= link_to 'back to employees', employees_path %>
  </div>
<% end %>

